<!--APP.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据构造平台</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <header class="custom-header">
    <h1 class="header-title">数据构造平台</h1>
    <select id="selectOption" class="dropdown">
      <option value="" disabled selected>请选择构造的数据</option>
      <option value="option1">充值红豆脚本</option>
      <option value="option2">开通会员脚本</option>
      <option value="option3">失效会员脚本</option>
      <option value="option4">修改账户经验值脚本</option>
      <option value="option5">主播认证脚本</option>
    </select>
  </header>

   <main class="input-container">
    <!-- 固定文案区域 -->
    <div id="infoText" class="info-fixed">
      <p>请选择一个脚本来执行相应操作。</p>
    </div>

  <main class="input-container">
    <!-- Option 1 -->
    <div id="option1" class="input-group">
      <input id="uid" type="text" placeholder="输入充值的UID" class="input-field">
      <input id="gold" type="text" placeholder="输入充值的红豆" class="input-field">
      <button id="confirmBtn1" class="btn-primary">确认</button>
    </div>

    <!-- Option 2 -->
    <div id="option2" class="input-group">
      <input id="uid1" type="text" placeholder="输入开通的UID账号" class="input-field">
      <button id="confirmBtn2" class="btn-primary1">确认</button>
    </div>

    <!-- Option 3 -->
    <div id="option3" class="input-group">
      <input id="uid3" type="text" placeholder="输入要失效会员的UID账号" class="input-field">
      <button id="confirmBtn3" class="btn-primary3">确认</button>
    </div>

    <!-- Option 4 -->
    <div id="option4" class="input-group">
      <input id="uid4" type="text" placeholder="请输入添加经验值的UID" class="input-field">
      <input id="exp" type="text" placeholder="输入修改的经验值" class="input-field">
      <button id="confirmBtn4" class="btn-primary4">确认</button>
    </div>

    <!-- Option 5 -->
    <div id="option5" class="input-group">
      <input id="uid5" type="text" placeholder="输入认证的主播UID" class="input-field">
      <button id="confirmBtn5" class="btn-primary5">确认</button>
    </div>

  </main>

  <script src="../static/script.js"></script>
</body>
</html>
