<!--APP.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据构造平台</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <header class="custom-header">
    <h1 class="header-title">数据构造平台</h1>
    <select id="selectOption" class="dropdown">
      <option value="" disabled selected>请选择构造的数据</option>
      <option value="option1">充值红豆脚本</option>
      <option value="option2">开通会员脚本</option>
      <option value="option3">选项三</option>
    </select>
  </header>

  <main class="input-container">
    <!-- Option 1 -->
    <div id="option1" class="input-group">
      <input id="uid" type="text" placeholder="输入充值的UID" class="input-field">
      <input id="gold" type="text" placeholder="输入充值的红豆" class="input-field">
      <button id="confirmBtn1" class="btn-primary">确认</button>
    </div>

    <!-- Option 2 -->
    <div id="option2" class="input-group">
      <input id="uid1" type="text" placeholder="输入开通的UID账号" class="input-field">
      <button id="confirmBtn2" class="btn-primary1">确认</button>
    </div>

    <!-- Option 3 -->
    <div id="option3" class="input-group">
      <input id="inputOther" type="text" placeholder="请输入其他信息" class="input-field">
    </div>
  </main>

  <script src="../static/script.js"></script>
</body>
</html>
